/* main.css - fyp */

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0px 0px 0px 0px;
    height: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color:#ffffff;
    background: #2f2f2f;
    position:relative;
    overflow-x:hidden;
    min-width:300px
}

#main_page_area {
    height: 100%;
    background: #b0b0b0;
    background-image: url('../images/DB_9998.jpg');
    overflow:auto;
}

#menu {
    position: absolute;
    top:10px;left:0;
    width:100%;
   /* background: #00a651;*/
}

#logo {
    float:left;
    padding-left: 50px;
    background: #00a651;
}

#menu_link_container {
	float:right;
}

#menu a {
    float:left;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
    padding: 20px 40px;
    position: relative;
}

#menu a img {
    position: absolute;
    left: 12px;
    top:18px;
}

#menu a:hover {
    background: #00a651;
}

#last_menu_item {
    margin-right: 50px;
}


/***  ANN PAGE AREA  ***/

#main_ann_section {
    height: 100%;
    background: #b0b0b0;
    background-image: url('../images/reWalls.com-2348.jpg');
    padding-top:150px;
}

#main_ann_section_inner {	
	margin:auto;
	width:1200px;
	border:solid grey 2px;
	background:rgba(0,0,0,0.7);
	min-height:500px;
	height:75%;
	font-size:0.8em;
	overflow:hidden;
}

#ann_menu {
	overflow:auto;
	padding:10px 0;
	border-bottom:dotted grey 1px;
}

.ann_menu_item_outer {
	width:50%;
	float:left;
	overflow:auto;
}

.ann_menu_item {
	width:200px;
	border-bottom:solid 1px #00a651;
	margin:auto;
	text-align:center;
	font-weight:bold;
	padding:15px 0 10px 0;
	cursor:pointer;
}

.ann_menu_item:hover {
	background: #00a651;
}

#csv_area {
	margin:30px 10px 0 10px;		
	display:none;
}
#ann_area {
	margin:30px 10px 0 10px;	
}

.csv_area_col {
	float:left;
	width:33%;
	color:#d3d3d3;
	height:600px;
}

#sets_col {
	border-right: dotted grey 1px;
	border-left: dotted grey 1px;
}

.csv_area_col_header {
	width:275px;
	text-align:center;
	margin:auto;
	margin-bottom:20px;
	padding-bottom:5px;
	font-weight:bold;
	border-bottom:solid grey 1px;
}

#collection_list, #sets_list {
	margin-bottom:30px;
	max-height:560px;
	overflow-y:auto;
}


.csv_area_collection_item, .csv_area_sets_item  {
	text-align:center;
	max-width:250px;
	border: solid 1px #000;
	color:#000;
	background-color: #d3d3d3;
	margin:auto;
	padding: 7px;
	cursor:pointer;
	border-radius:3px;
	overflow:auto;
}

.csv_area_collection_item:hover, .csv_area_sets_item:hover {
	background:grey;	
}

.csv_area_sets_item_id, .csv_area_sets_item_reps {
	float:left;
	width:20%
}
.csv_area_sets_item_name {
	float:left;
	width:60%;
}
.csv_area_sets_item_reps {
	float:left;
}


/*  TRAIN NETWORK COLUMN */

.pre-process_config_item {
	margin:5px 20px;
	overflow:auto;
	
}

.pre-process_config_header, .pre-process_config_label {
	float:left;
	font-size:0.9em;
}

.pre-process_config_header {
	width:170px;
	line-height:20px;
}

.pre-process_config_label {
	font-size:0.7em;	
	width:80px;
}

.pre-process_config_item input {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color:#fff;
	border:0;
	outline:0;
	background:rgba(0, 0, 0, 0);
	border-bottom:solid 1px #fff;
	width:30px;
	text-align:center;
}

#filename_area {
	width:275px;
	margin:auto;	
	margin-top:40px;
}	   

#filename_area input {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color:#00a651;
	font-size:1.3em;
	font-weight:bold;
	font-style:italic;
	border:0;
	outline:0;
	background:rgba(0, 0, 0, 0);
	border-bottom:solid 1px #fff;
	width:150px;
	text-align: center;
	margin-left:15px;
}	

#create_csv_button {
	width:100px;
	background:#00a651;
	padding:10px;
	border-radius:2px;
	margin:auto;
	margin-top: 35px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}
#create_csv_button:hover {
	background:green;
}

#csv_status {
	color: red;
	font-size:0.9em;
	text-align: center;
	margin: 20px 0;
	height:50px;
}
#csv_status_msg {
	margin-top:5px;
}

#csv_exercise_list {
	margin: auto;
	width: 90%;
	border: solid #00a651 4px;
	background:#d3d3d3;
	text-align:center;
	height: 250px;
	position:relative;
}
#csv_exercise_list_title {
	background: #00a651;
	padding: 5px;
	font-weight:bold;
	font-size:1.1em;
}
#csv_exercise_list_header {
	color: grey;
	font-weight: bold;
	padding: 6px 0;
	font-size: 0.9em;
	font-style: italic;
}
.csv_exercise_list_header_output, csv_exercise_list_header_reps  {
	float: left;
	width: 25%;
}
.csv_exercise_list_header_exercise {
	float:left;
	width:50%;
}
.csv_exercise_list_item {
	color: grey;
	padding: 3px 0;
	border-bottom: dotted grey 1px;
	overflow:auto;
}
.csv_exercise_list_item_output, .csv_exercise_list_item_reps {
	float: left;
	width: 25%;
}
.csv_exercise_list_item_exercise {
	float: left;
	width: 50%;
}
#current_list {
	color:grey;
}
#clear_list {
	position: absolute;
	top:5px;right:5px;
	font-size:0.8em;
	cursor: pointer;	
}
#clear_list:hover {
	color: green;
}

#ann_options_column {
	float:left;
	width:400px;
	min-height:600px;
	border-right: dotted 1px grey;
}

#ann_start_column {
	margin-left:420px;
	height:600px;
	line-height:300px;
	color:red;
	font-size: 4em;
	text-align:center;
	font-weight:bold;
	overflow-y:auto;
}

#dropdown_trainfile, #dropdown_testfile {
	margin: auto;
	margin-bottom: 50px;
	width: 250px;
	border: solid 2px #00a651;
	position: relative;
	padding: 7px 0 7px 15px;
	font-size:1.3em;
	font-style: italic;
	color: #000;
	background: #fff;	
}

#dropdown_arrow_trainfile, #dropdown_arrow_testfile {
	position:absolute;
	right:8px;top:8px;
	width:35px;height:22px;
	cursor:pointer;
}

#dropdown_menu_trainfile, #dropdown_menu_testfile {
	position:absolute;
	top:35px;left:-2px;
	width:265px;
	border: solid 2px #00a651;
	/*padding:7px 0 15px 15px;*/
	font-style:italic;
	background:lightgrey;
	color: #000;
	z-index:99;
	display:none;
}

.ann_file_menu_item {
	padding:8px 0 8px 15px;
	cursor:pointer;	
}
.ann_file_menu_item:hover {
	background:grey;
}

.dropdown_label, #ann_config_header {
	text-align:center;
	margin-bottom:5px;
	color:#00a651;
	font-size:0.9em;
	font-weight:bold;
}

#ann_config {
	margin: 0 20px;
	padding:20px;
	border: dotted #00a651 1px;
}

.ann_config_item {
	margin:auto;
	padding: 10px 0 ;
	width: 260px;
}

.ann_config_item_label {
	font-size: 1.1em;
	float:left;
}

.ann_config_item_input_container {
	margin-left: 180px;
}
.ann_config_item input {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color:#fff;
	border:0;
	outline:0;
	background:rgba(0, 0, 0, 0);
	border-bottom:solid 1px #fff;
	width:40px;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}

#train_button {
	width: 150px;
	margin: auto;
	margin-top: 20px;
	background: #00a651;
	padding: 20px;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	cursor:pointer;
}
#train_button:hover {
	background: green;
}


@media only screen and (max-width : 1005px) and (min-width : 700px) {
	
}

@media only screen and (max-width : 700px) {
	
	#menu_link_container {
		float:none;
		margin:auto;
		width:300px;
	}
	#menu a {
		padding:20px;
    	width:100%;
    	margin:auto;
		padding:20px 40px;
	}
	
}
