/* main.css - fyp */

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0px 0px 0px 0px;
    height: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color:#ffffff;
    background: #2f2f2f;
    position:relative;
    overflow-x:hidden;
}

#main_page_area {
    height: 100%;
    background: #b0b0b0;
    background-image: url('../images/DB_9998.jpg');
    overflow:auto;
}

#menu {
    position: absolute;
    top:10px;left:0;
    width:100%;
    background: #00a651;
}

#logo {
    float:left;
    padding-left: 50px;
}

#menu a {
    float:right;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
    padding: 20px 40px;
    position: relative;


}

#menu a img {
    position: absolute;
    left: 12px;
    top:18px;
}

#menu a:hover {
    background: #000;
}

#last_menu_item {
    margin-right: 50px;
}


.menu_item {
    float:right;
    padding: 20px;
}



/****** CONTROL PANEL  *****/

#control_panel_button {
    position: absolute;
    top:80px;right:80px;
    background: #fff;
    width: 200px;
    color:#00a651;
    cursor: pointer;
}

#control_panel_button_img {
    float:left;
    padding: 10px;
    padding-left: 15px;
}

#control_panel_button_txt {
    float:right;
    margin-right: 35px;
    margin-top: 10px;
    font-size: 0.8em;
}

#control_panel {
    position: absolute;
    width: 500px;
    height:800px;
    right:-500px;top: 80px;
    background: #2E3740;
    font-size: 0.9em;
    z-index:99;
}

#control_panel_header {
    padding: 20px 0;
    border-bottom: solid 1px lightgray;
    text-align: center;
    position: relative;
}

#control_panel_header img {
    position: absolute;
    top:10px;right:25px;
    cursor: pointer;
}

#control_panel_inner {
    width:100%;
    height: 693px;
}

#control_panel_col_l {
    float: left;
    width: 140px;
    height: 100%;
    border-right: solid 1px grey;
    padding-top: 50px;
    margin-left:20px;
}

#control_panel_col_r {
    float: left;
    width: 300px;
    height: 100%;
    text-align:center;
    margin:20px 15px 0 15px;
    overflow-y:auto;
}

.control_panel_menu_item {
    padding:20px 10px 10px 0;
    text-align: right;
    border-bottom: solid 1px grey;
    cursor: pointer;
}

#control_panel_col_r_header {
	font-size:1.2em;
	text-decoration:underline;
	margin-bottom:50px;
}

.control_panel_col_r_col_item {
	padding: 15px 0 7px 0;
	border-bottom:dotted 1px grey; 
	cursor:pointer
}

.control_panel_col_r_col_item:hover {
	border-bottom:solid 1px #fff;
}

#collect_set_list_header {
	width:100%;
	overflow:auto;
	font-size:0.8em;
	font-weight:bold;
	margin-bottom:20px;
}

#collect_set_list_header div {
	float:left;
	text-align:center;
}

#collect_set_list_header_id {
	width:20%;
}

#collect_set_list_header_name {
	width:60%;
}

#collect_set_list_header_reps {
	width:20%;	
}

#collect_set_list {
	
}

.collect_set_list_item {
	width:100%;
	overflow:auto;
	font-style:italic;
	padding: 15px 0 7px 0;
	border-bottom:dotted 1px grey; 
	cursor:pointer
}

.collect_set_list_item:hover {
	border-bottom:solid 1px #fff;
}

.collect_set_list_item div {
	float:left;
	text-align:center;
}

.collect_set_list_item_id { 
	width:20%;
}

.collect_set_list_item_name {
	width:60%;
}

.collect_set_list_item_reps {
	width:20%;
}


/***  MAIN PAGE AREA  ***/

#graphs_area {
	margin: 135px 50px 0 50px;	
	/*border:dotted white 1px;*/
}

.graphs_area_section {
	border-bottom:solid #00a651 2px;
	width:100%;
	margin-bottom:15px;
	height:185px;	
}

.graphs_area_section_menu {
	margin-top:8px;
	font-size:0.6em;
	font-weight:bold;
	text-align:center;
	display:none;
}

.graph_menu_label, .graph_menu_item  {
	float:left;	
	padding:8px;
}



.graph_menu_label {
	background:#00a651;
	color:#fff;
	margin-right:25px
}

.graph_menu_item {
	background:#fff;
	color:#00a651;
	cursor:pointer;
	border-right:solid 1px #000;
}

#graphs_area_norm {
	margin-bottom:0;
}

.graph_menu_item:hover {
	background:#000;
}

#graphs_area_section_average {
	position:relative;
}

#average_data_menu, #average_data_menu div {
	padding:3px;
}

#average_data_menu_img {
	float:left;
}
#average_data_menu_text {
	float:left;
	line-height:14px;	
}

#peak_detection_menu {
	position:absolute;
	top:27px;left:117px;
	background:#2E3740;
	width:330px;
	padding:10px 0;
	cursor:auto;
	border:solid #fff 1px;
	display:none;
}

.peak_detection_menu_item {
	width:320px;
	font-size:1.2em;
	font-weight:normal;
	padding:10px 5px 2px 5px;
	border-bottom:dotted grey 1px;
	overflow:auto;
	opacity:0.2;
}

.peak_detection_menu_item_label, .peak_detection_menu_item_info {
	float:left;
	padding:4px 0;
}

.peak_detection_menu_item_label {
	width:140px;
	margin-right:20px;
}
 .peak_detection_menu_item_label:hover {
	 border-bottom:solid 1px grey;
}

.peak_detection_menu_item_info {
	width:75px;
	font-size:0.8em;
	margin-top:-3px;
}

.peak_detection_menu_item_info input {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color:#fff;
	border:0;
	outline:0;
	background:#2E3740;
	border-bottom:solid 1px #fff;
	width:30px;
	text-align:center;
}

#peak_detection_menu_item_maximas {
	border-top:dotted grey 1px;
	opacity:1;
}

#peak_detection_menu_item_maximas .peak_detection_menu_item_label {
	cursor:pointer
}



#graph_area_raw_chart, #graph_area_average_chart {
	height:150px;
	max-width:1500px;
	margin:auto;
}

.jqplot-point-label {
	color:#fff;
	font-weight:bold
}
